In [4]:
from sklearn.linear_model import LogisticRegression
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import pandas as pd

In [5]:
df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [14]:
#preprocessing

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
#training
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [9]:
#predicteur
y_pred = classifier.predict(X_test) 
y_pred

array([1, 0, 1, 1, 1, 2, 0, 1, 2, 1, 1, 1, 0, 1, 0, 1, 0, 0, 2, 0, 2, 1,
       2, 0, 2, 2, 0, 1, 2, 2])

In [11]:
#matrice de confusion
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [12]:
#accuracy / précision
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred)) 
cm

Accuracy :  0.9666666666666667

array([[ 9,  0,  0],
       [ 0, 12,  1],
       [ 0,  0,  8]], dtype=int64)

In [13]:
#comparer visuellement le predict avec les valeurs réelles
comparatif = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
comparatif

    Real Values  Predicted Values
0             1                 1
1             0                 0
2             1                 1
3             1                 1
4             1                 1
5             2                 2
6             0                 0
7             1                 1
8             2                 2
9             1                 1
10            1                 1
11            1                 1
12            0                 0
13            1                 1
14            0                 0
15            1                 1
16            0                 0
17            0                 0
18            2                 2
19            0                 0
20            2                 2
21            1                 1
22            2                 2
23            0                 0
24            2                 2
25            2                 2
26            0                 0
27            1                 1
28            1                 2
29            2                 2