<img src = "images/logos.png" width = 600, align = "center">
<br>

<h1 align=center><font size = 5>PYTHON-Les Tuples</font></h1>


## Contenu


<div class="alert alert-block alert-info" style="margin-top: 20px">
<ul><li><a href="#ref0">Présentation du jeu de données</a></li>
<li><a href="#ref1">Les Tuples</a></li>
<li><a href="#ref2">Quiz</a></li>
    </ul>
Durée estimée: <strong>15 min</strong>
</div>

<hr>

<a id="ref0"></a>
<center><h2>Le jeu de données</h2></center>

Vous collectionnez les films de James Bond et récupérer une base de données contenant des informations sur la filmographie complète de l'agent 007.

La table est composée d'une ligne par film et caractérise un film par :

- **Numero**
- **Titre original**
- **Annee** - Année de sortie
- **Realisateur**
- **Acteur**
- **Compositeur**
- **Interprete**
- **Budget**
- **Total_box_office**
- **Box_office_france**
- **Note**
<br>
<br>

Le jeu de données est visisble ci-dessous :
<font size="1">
<table font-size:xx-small style="width:90%">
<caption>
</caption>
<tbody><tr>
<th align="center">Numéro
</th>
<th align="center">Titre original
</th>
<th>Année
</th>
<th>Réalisateur
</th>
<th align="center">Acteur
</th>
<th>Compositeur
</th>
<th>Interprète<br/>du générique
</th>
<th>Budget<br />(USD)
</th>
<th>Total Box-office<br/>(USD)
</th>
<th>Box-office<br/>France
</th>
<th>Note
</th></tr>
<tr>
<td>1
</td>
<td>Dr. No
</td>
<td>1962
</td>
<td>Terence Young
</td>
<td>Sean Connery
</td>
<td>Monty Norman
</td>
<td>
</td>
<td align="right">1000000
</td>
<td align="right">59600000
</td>
<td align="right">4772547
</td>
<td>6.8
</td></tr>
<tr>
<td>2
</td>
<td><i>From Russia with Love</i>
</td>
<td>1963
</td>
<td>Terence Young
</td>
<td>Sean Connery
</td>
<td>John Barry
</td>
<td>Matt Monro
</td>
<td align="right">2500000
</td>
<td align="right">78900000
</td>
<td align="right">5623391
</td>
<td>6.8
</td>
</tr>
<tr>
<td>3
</td>
<td><i>Goldfinger</i>
</td>
<td>1964
</td>
<td>Guy Hamilton
</td>
<td>Sean Connery
</td>
<td>John Barry
</td>
<td>Shirley Bassey
</td>
<td align="right">3500000
</td>
<td align="right">124900000
</td>
<td align="right">6675099
</td>
<td>7.2
</td>
</tr>
<tr>
<td>4
</td>
<td><i>Thunderball</i>
</td>
<td>1965
</td>
<td>Terence Young
</td>
<td>Sean Connery
</td>
<td>John Barry
</td>
<td>Tom Jones
</td>
<td align="right">5600000
</td>
<td align="right">141200000
</td>
<td align="right">55734842
</td>
<td>6.7
</td></tr>
<tr>
<td>5
</td>
<td>You Only Live Twice
</td>
<td>1967
</td>
<td>Lewis Gilbert
</td>
<td>Sean Connery
</td>
<td>John Barry
</td>
<td>Nancy Sinatra
</td>
<td align="right">9500000
</td>
<td align="right">111600000
</td>
<td align="right">4489249
</td>
<td>6.5
</td></tr>
<tr>
<td>6
</td>
<td>On Her Majesty's Secret Service
</td>
<td>1969
</td>
<td>Peter Roger Hunt
</td>
<td>George Lazenby
</td>
<td>John Barry
</td>
<td>Louis Armstrong
</td>
<td align="right">7000000
</td>
<td align="right">87400000
</td>

<td align="right">1958172
</td>
<td>6.4
</td></tr>
<tr>
<td>7
</td>
<td>Diamonds are forever
</td>
<td>1971
</td>
<td>Guy Hamilton
</td>
<td>Sean Connery
</td>
<td>John Barry
</td>
<td>Shirley Bassey
</td>
<td align="right">7200000
</td>
<td align="right">116000000
</td>
<td align="right">2493739
</td>
<td>6.2
</td></tr>
<tr>
<td>8
</td>
<td>Live and Let Die
</td>
<td>1973
</td>
<td>Guy Hamilton
</td>
<td>Roger Moore
</td>
<td>George Martin
</td>
<td>Paul McCartney
<p>Wings
</p>
</td>
<td align="right">7000000
</td>
<td align="right">161800000
</td>
<td align="right">3053913
</td>
<td>6.1
</td></tr>
<tr>
<td>9
</td>
<td>The Man with the Golden Gun
</td>
<td>1974
</td>
    <td>Guy Hamilton
</td>
    <td>Roger Moore
</td>
<td>John Barry
</td>
<td>Lulu
</td>
<td align="right">7000000
</td>
<td align="right">97600000
</td>
<td align="right">2873898
</td>
<td>6.2
</td></tr>
<tr>
<td>10
</td>
<td>The Spy Who Loved Me
</td>
<td>1977
</td>
<td>Lewis Gilbert
</td>
<td>Roger Moore
</td>
<td>Marvin Hamlisch
</td>
<td>Carly Simon
</td>
<td align="right">14000000
</td>
<td align="right">185400000
</td>
<td align="right">3500993
</td>
<td>6.4
</td></tr>
<tr>
<td>11
</td>
<td>Moonraker
</td>
<td>1979
</td>
<td>Lewis Gilbert
</td>
<td>Roger Moore
</td>
<td>John Barry
</td>
<td>Shirley Bassey
</td>
<td align="right">34000000
</td>
<td align="right">210300000
</td>
<td align="right">3171274
</td>
<td>5.8
</td></tr>
<tr>
<td>12
</td>
<td>For Your Eyes Only
</td>
<td>1981
</td>
<td>John Glen
</td>
<td>Roger Moore
</td>
<td>Bill Conti
</td>
<td>Sheena Easton
</td>
<td align="right">28000000
</td>
<td align="right">195300000
</td>
<td align="right">3181840
</td>
<td>6.0
</td></tr>
<tr>
<td>13
</td>
<td><i>Octopussy</i>
</td>
<td>1983
</td>
<td>John Glen
</td>
<td>Roger Moore
</td>
<td>John Barry
</td>
<td>Rita Coolidge
</td>
<td align="right">27500000
</td>
<td align="right">187500000
</td>
<td align="right">2944481
</td>
<td>6.0
</td></tr>
<tr>
<td>14
</td>
<td><i>A View to a Kill</i>
</td>
<td>1985
</td>
    <td>John Glen
</td>
    <td>Roger Moore
</td>
    <td>John Barry
</td>
<td>Duran Duran
</td>
<td align="right">30000000
</td>
<td align="right">152400000
</td>
<td align="right">2423306
</td>
<td>5.9
</td></tr>
<tr>
<td>15
</td>
<td>The Living Daylights
</td>
<td>1987
</td>
<td>John Glen
</td>
<td>Timothy Dalton
</td>
    <td>John Barry
</td>
<td>a-ha
</td>
<td align="right">40000000
</td>
<td align="right">191200000
</td>
<td align="right">1978347
</td>
<td>6.2
</td></tr>
<tr>
<td>16
</td>
<td>Licence to Kill
</td>
<td>1989
</td>
<td>John Glen
</td>
<td>Timothy Dalton
</td>
<td>Michael Kamen
</td>
<td>Gladys Knight
<p>Patti LaBelle
</p>
</td>
<td align="right">42000000
</td>
<td align="right">156200000
</td>
<td align="right">2110402
</td>
<td>6.2
</td></tr>
<tr>
<td>17
</td>
<td>GoldenEye
</td>
<td>1995
</td>
<td>Martin Campbell
</td>
<td>Pierce Brosnan
</td>
<td>Eric Serra
</td>
<td>Tina Turner
</td>
<td align="right">60000000
</td>
<td align="right">353400000
</td>
<td align="right">3493610
</td>
<td>6.6
</td></tr>
<tr>
<td>18
</td>
<td>Tomorrow Never Dies
</td>
<td>1997
</td>
<td>Roger Spottiswoode
</td>
<td>Pierce Brosnan
</td>
<td>David Arnold
</td>
<td>Sheryl Crow
</td>
<td align="right">110000000
</td>
<td align="right">346600000
</td>
<td align="right">3435210
</td>
<td>5.8
</td></tr>
<tr>
<td>19
</td>
<td>The World Is Not Enough
</td>
<td>1999
</td>
<td>Michael Apted
</td>
<td>Pierce Brosnan
</td>
   <td>David Arnold
</td>
<td>Garbage
</td>
<td align="right">135000000
</td>
<td align="right">390000000
</td>
<td align="right">3599609
</td>
<td>5.5
</td></tr>
<tr>
<td>20
</td>
<td>Die Another Day
</td>
<td>2002
</td>
<td>Lee Tamahori
</td>
<td>Pierce Brosnan
</td>
<td>David Arnold
</td>
<td>Madonna
</td>
<td align="right">142000000
</td>
<td align="right">456000000
</td>
<td align="right">4015654
</td>
<td>5.0
</td></tr>
<tr>
<td>21
</td>
<td>Casino Royale
</td>
<td>2006
</td>
<td>Martin Campbell
</td>
<td>Daniel Craig
</td>
<td>David Arnold
</td>
<td>Chris Cornell
</td>
<td align="right">140000000
</td>
<td align="right">594293106
</td>
<td align="right">3179519
</td>
<td>7.0
</td></tr>
<tr>
<td>22
</td>
<td>Quantum of Solace
</td>
<td>2008
</td>
<td>Marc Forster
</td>
<td>Daniel Craig
</td>
<td>David Arnold
</td>
<td>Alicia Keys
<p>Jack White
</p>
</td>
<td align="right">230000000
</td>
<td align="right">586090627
</td>
<td align="right">3715301
</td>
<td>5.4
</td></tr>
<tr>
<td>23
</td>
<td>Skyfall
</td>
<td>2012
</td>
<td>Sam Mendes
</td>
 <td>Daniel Craig
</td>
<td>Thomas Newman
</td>
    
<td>Adele
</td>
<td align="right">200000000
</td>
<td align="right">1108346855
</td>
<td align="right">7003902
</td>
<td>7.1
</td></tr>
<tr>
<td>24
</td>
<td>Spectre
</td>
<td>2015
</td>
<td>Sam Mendes
</td>
 <td>Daniel Craig
</td>
<td>Thomas Newman
</td>
<td>Sam Smith
</td>
<td align="right">245000000
</td>
<td align="right">880674175
</td>
<td align="right">4978710
</td>
<td>5.8
</td>
</tr>
<tr>
<td>25
</td>
<td>Bond 25
</td>
<td>2020
</td>
<td>Cary Joji Fukunaga
</td>
<td align="right">
</td>
<td align="right">
</td>
<td align="right">
</td>
<td align="right">
</td></tr></tbody></table></font>

<hr>

<a id="ref1"></a>
<center><h2>Tuples</h2></center>

Un tuple est un conteneur pouvant regrouper des valeurs de types différents :  string, integer et float.

In [2]:
film_3=("Goldfinger",1964, "Guy Hamilton", "Sean Connery" )
film_3

('Goldfinger', 1964, 'Guy Hamilton', 'Sean Connery')

Le type de la variable est **tuple**.

In [3]:
 type(film_3)

tuple

Chaque élèment d'un tuple est identifié par sa position : l'index (numérotation à partir de 0)

L'accès aux valeurs d'un tuple se fait par :

In [4]:
print( film_3[0])
print( film_3[1])
print( film_3[2])

Goldfinger
1964
Guy Hamilton

Il est possible d'afficher le **type** de chaque élèment d'un tuple:

In [6]:
print( type(film_3[0]))
print( type(film_3[1]))
print( type(film_3[2]))
print( type(film_3[3]))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>

Comme pour les chaines de caractères, il est possible d'accéder aux élèments avec des index négatifs :

In [ ]:
film_3[-1]

Il est possible de concaténer les tuples avec l'opérateur **+** :

In [7]:
film_3=film_3+("Jhon Barry", "Shirley Bassey",3500000,124900000,6675099,8)
film_3

('Goldfinger',
 1964,
 'Guy Hamilton',
 'Sean Connery',
 'Jhon Barry',
 'Shirley Bassey',
 3500000,
 124900000,
 6675099,
 8)

Le slicing :

In [8]:
film_3[0:3]

('Goldfinger', 1964, 'Guy Hamilton')

Longueur d'un tuple :

In [9]:
len(film_3)

10

 Consider the following tuple:

In [11]:
Notes =(6.8,6.8,7.2,6.7,6.5,6.4,6.2,6.1,6.2,6.4,5.8,6.0,6.0,6.1,5.9,6.2,6.2,6.6,5.8,5.5,5.0,7.,5.4,7.1,5.8)

Le tuple peut être ffecté à une nouvelle variable :

In [12]:
Notes1=Notes
Notes

(6.8,
 6.8,
 7.2,
 6.7,
 6.5,
 6.4,
 6.2,
 6.1,
 6.2,
 6.4,
 5.8,
 6.0,
 6.0,
 6.1,
 5.9,
 6.2,
 6.2,
 6.6,
 5.8,
 5.5,
 5.0,
 7.0,
 5.4,
 7.1,
 5.8)

Le tuple peut être trié puis affecté à une nouvelle variable :<br>
Le tri est ascendant par défaut. Pour un tri descendant, il faut rajouter l'argument `reverse=True`.

In [13]:
Tri_notes=sorted(Notes)
Tri_notes

[5.0,
 5.4,
 5.5,
 5.8,
 5.8,
 5.8,
 5.9,
 6.0,
 6.0,
 6.1,
 6.1,
 6.2,
 6.2,
 6.2,
 6.2,
 6.4,
 6.4,
 6.5,
 6.6,
 6.7,
 6.8,
 6.8,
 7.0,
 7.1,
 7.2]

In [14]:
NotesDsc = sorted(Notes, reverse=True)
NotesDsc

[7.2,
 7.1,
 7.0,
 6.8,
 6.8,
 6.7,
 6.6,
 6.5,
 6.4,
 6.4,
 6.2,
 6.2,
 6.2,
 6.2,
 6.1,
 6.1,
 6.0,
 6.0,
 5.9,
 5.8,
 5.8,
 5.8,
 5.5,
 5.4,
 5.0]

Le nesting : 
Un tuplepeut contenir des valeurs dont les types sont complexes :

In [15]:
Nested =(1, 2, ("thriller", "adventure") ,(3,4),("thriller",(1,2)))

Chaque élèment continu a être accessible par son index :

In [16]:
print("Element 0 of Tuple: ", Nested[0])
print("Element 1 of Tuple: ", Nested[1])
print("Element 2 of Tuple: ", Nested[2])
print("Element 3 of Tuple: ", Nested[3])
print("Element 4 of Tuple: ", Nested[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('thriller', 'adventure')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('thriller', (1, 2))

Il est nécessaire ensuite d'utiliser une double indexation pour accèder aux élèments des valeurs de type complexe.

In [17]:
print("Element 2,0 of Tuple: ",   Nested[2][0])
print("Element 2,1 of Tuple: ",   Nested[2][1])
print("Element 3,0 of Tuple: ",   Nested[3][0])
print("Element 3,1 of Tuple: ",   Nested[3][1])
print("Element 4,0 of Tuple: ",   Nested[4][0])
print("Element 4,1 of Tuple: ",   Nested[4][1])

Element 2,0 of Tuple:  thriller
Element 2,1 of Tuple:  adventure
Element 3,0 of Tuple:  3
Element 3,1 of Tuple:  4
Element 4,0 of Tuple:  thriller
Element 4,1 of Tuple:  (1, 2)

Et même une triple indexation si necessaire :

In [18]:
Nested[2][1][0]

'a'

In [19]:
 Nested[2][1][1]

'd'

 <a id="ref2"></a>
<h2 align=center> Le petit Quiz</h2>

Considerons le tuple suivant :

In [22]:
acteurs = ("Sean Connery", "Georges Lasenby","Roger Moore", "Timothy Dalton","Pierce Brosnan", "Daniel Craig")
acteurs

('Sean Connery',
 'Georges Lasenby',
 'Roger Moore',
 'Timothy Dalton',
 'Pierce Brosnan',
 'Daniel Craig')

#### Afficher la longueur du tuple, "acteurs":

In [23]:
len (acteurs)

6

<div align="right">
<a href="#String1" class="btn btn-default" data-toggle="collapse">Solution</a>

</div>


<div id="String1" class="collapse">

"len(acteurs)"
```


```
</div>

#### Aficher le 5ème élèment du tuple :

In [24]:
print (acteurs [4])

Pierce Brosnan

<div align="right">
<a href="#2" class="btn btn-default" data-toggle="collapse">Solution</a>

</div>


<div id="2" class="collapse">


 <a ><img src = "https://ibm.box.com/shared/static/s6r8v2uy6wifmaqv53w6adabqci47zme.png" width = 1100, align = "center"></a>

</div>

####   Afficher, en utilisant le slicing, toutes les valeurs de la 2ème à la 5ème :

In [25]:
print (acteurs [1:4])

('Georges Lasenby', 'Roger Moore', 'Timothy Dalton')


  <div align="right">
<a href="#3" class="btn btn-default" data-toggle="collapse">Solution</a>

</div>


<div id="3" class="collapse">


acteurs[2:6]

</div>

#### Afficher l'index de la valeur 'Daniel Craig':

In [26]:
acteurs.index ("Daniel Craig")

5

 <div align="right">
<a href="#q6" class="btn btn-default" data-toggle="collapse">Solution</a>
</div>
<div id="q6" class="collapse">
```
acteurs.index("Daniel Craig") 

```

<hr>

####  Créer un tuple formé en ordonant par ordre décroissant le tuple C=(10, -5, 78, 0, 1, -3) :

In [27]:
C=(10, -5, 78, 0, 1, -3)
Tri_C=sorted (C,reverse=True)
Tri_C

[78, 10, 1, 0, -3, -5]

 <div align="right">
<a href="#q7" class="btn btn-default" data-toggle="collapse">Solution</a>
</div>
<div id="q7" class="collapse">
```
C = (10, -5, 78, 0, 1, -3)
C2 = sorted(C_tuple, reverse=True)
C2

```

<hr>
Copyright &copy; 2020 Hatem & Driss @NEEDEMAND