<img src = "images/logos.png" width = 600, align = "center">
<br>

<h1 align=center><font size = 5>PYTHON - LES TABLEAUX</font></h1>


## Contenu


<div class="alert alert-block alert-info" style="margin-top: 20px">
<ul>
    <li><a href="#ref0">Présentation du jeu de données</a></li>
<li><a href="#ref1">Les Tableaux (Lists)</a></li>
<li><a href="#ref2">Quiz</a></li>
    </ul>
Durée estimée: <strong>15 min</strong>
</div>

<hr>

<a id="ref0"></a>
<center><h2>Le jeu de données</h2></center>

Vous collectionnez les films de James Bond et récupérer une base de données contenant des informations sur la filmographie complète de l'agent 007.

La table est composée d'une ligne par film et caractérise un film par :

- **Numero**
- **Titre original**
- **Annee** - Année de sortie
- **Realisateur**
- **Acteur**
- **Compositeur**
- **Interprete**
- **Budget**
- **Total_box_office**
- **Box_office_france**
- **Note**
<br>
<br>

Le jeu de données est visisble ci-dessous :
<font size="1">
<table font-size:xx-small style="width:90%">
<caption>
</caption>
<tbody><tr>
<th align="center">Numéro
</th>
<th align="center">Titre original
</th>
<th>Année
</th>
<th>Réalisateur
</th>
<th align="center">Acteur
</th>
<th>Compositeur
</th>
<th>Interprète<br/>du générique
</th>
<th>Budget<br />(USD)
</th>
<th>Total Box-office<br/>(USD)
</th>
<th>Box-office<br/>France
</th>
<th>Note
</th></tr>
<tr>
<td>1
</td>
<td>Dr. No
</td>
<td>1962
</td>
<td>Terence Young
</td>
<td>Sean Connery
</td>
<td>Monty Norman
</td>
<td>
</td>
<td align="right">1000000
</td>
<td align="right">59600000
</td>
<td align="right">4772547
</td>
<td>6.8
</td></tr>
<tr>
<td>2
</td>
<td><i>From Russia with Love</i>
</td>
<td>1963
</td>
<td>Terence Young
</td>
<td>Sean Connery
</td>
<td>John Barry
</td>
<td>Matt Monro
</td>
<td align="right">2500000
</td>
<td align="right">78900000
</td>
<td align="right">5623391
</td>
<td>6.8
</td>
</tr>
<tr>
<td>3
</td>
<td><i>Goldfinger</i>
</td>
<td>1964
</td>
<td>Guy Hamilton
</td>
<td>Sean Connery
</td>
<td>John Barry
</td>
<td>Shirley Bassey
</td>
<td align="right">3500000
</td>
<td align="right">124900000
</td>
<td align="right">6675099
</td>
<td>7.2
</td>
</tr>
<tr>
<td>4
</td>
<td><i>Thunderball</i>
</td>
<td>1965
</td>
<td>Terence Young
</td>
<td>Sean Connery
</td>
<td>John Barry
</td>
<td>Tom Jones
</td>
<td align="right">5600000
</td>
<td align="right">141200000
</td>
<td align="right">55734842
</td>
<td>6.7
</td></tr>
<tr>
<td>5
</td>
<td>You Only Live Twice
</td>
<td>1967
</td>
<td>Lewis Gilbert
</td>
<td>Sean Connery
</td>
<td>John Barry
</td>
<td>Nancy Sinatra
</td>
<td align="right">9500000
</td>
<td align="right">111600000
</td>
<td align="right">4489249
</td>
<td>6.5
</td></tr>
<tr>
<td>6
</td>
<td>On Her Majesty's Secret Service
</td>
<td>1969
</td>
<td>Peter Roger Hunt
</td>
<td>George Lazenby
</td>
<td>John Barry
</td>
<td>Louis Armstrong
</td>
<td align="right">7000000
</td>
<td align="right">87400000
</td>

<td align="right">1958172
</td>
<td>6.4
</td></tr>
<tr>
<td>7
</td>
<td>Diamonds are forever
</td>
<td>1971
</td>
<td>Guy Hamilton
</td>
<td>Sean Connery
</td>
<td>John Barry
</td>
<td>Shirley Bassey
</td>
<td align="right">7200000
</td>
<td align="right">116000000
</td>
<td align="right">2493739
</td>
<td>6.2
</td></tr>
<tr>
<td>8
</td>
<td>Live and Let Die
</td>
<td>1973
</td>
<td>Guy Hamilton
</td>
<td>Roger Moore
</td>
<td>George Martin
</td>
<td>Paul McCartney
<p>Wings
</p>
</td>
<td align="right">7000000
</td>
<td align="right">161800000
</td>
<td align="right">3053913
</td>
<td>6.1
</td></tr>
<tr>
<td>9
</td>
<td>The Man with the Golden Gun
</td>
<td>1974
</td>
    <td>Guy Hamilton
</td>
    <td>Roger Moore
</td>
<td>John Barry
</td>
<td>Lulu
</td>
<td align="right">7000000
</td>
<td align="right">97600000
</td>
<td align="right">2873898
</td>
<td>6.2
</td></tr>
<tr>
<td>10
</td>
<td>The Spy Who Loved Me
</td>
<td>1977
</td>
<td>Lewis Gilbert
</td>
<td>Roger Moore
</td>
<td>Marvin Hamlisch
</td>
<td>Carly Simon
</td>
<td align="right">14000000
</td>
<td align="right">185400000
</td>
<td align="right">3500993
</td>
<td>6.4
</td></tr>
<tr>
<td>11
</td>
<td>Moonraker
</td>
<td>1979
</td>
<td>Lewis Gilbert
</td>
<td>Roger Moore
</td>
<td>John Barry
</td>
<td>Shirley Bassey
</td>
<td align="right">34000000
</td>
<td align="right">210300000
</td>
<td align="right">3171274
</td>
<td>5.8
</td></tr>
<tr>
<td>12
</td>
<td>For Your Eyes Only
</td>
<td>1981
</td>
<td>John Glen
</td>
<td>Roger Moore
</td>
<td>Bill Conti
</td>
<td>Sheena Easton
</td>
<td align="right">28000000
</td>
<td align="right">195300000
</td>
<td align="right">3181840
</td>
<td>6.0
</td></tr>
<tr>
<td>13
</td>
<td><i>Octopussy</i>
</td>
<td>1983
</td>
<td>John Glen
</td>
<td>Roger Moore
</td>
<td>John Barry
</td>
<td>Rita Coolidge
</td>
<td align="right">27500000
</td>
<td align="right">187500000
</td>
<td align="right">2944481
</td>
<td>6.0
</td></tr>
<tr>
<td>14
</td>
<td><i>A View to a Kill</i>
</td>
<td>1985
</td>
    <td>John Glen
</td>
    <td>Roger Moore
</td>
    <td>John Barry
</td>
<td>Duran Duran
</td>
<td align="right">30000000
</td>
<td align="right">152400000
</td>
<td align="right">2423306
</td>
<td>5.9
</td></tr>
<tr>
<td>15
</td>
<td>The Living Daylights
</td>
<td>1987
</td>
<td>John Glen
</td>
<td>Timothy Dalton
</td>
    <td>John Barry
</td>
<td>a-ha
</td>
<td align="right">40000000
</td>
<td align="right">191200000
</td>
<td align="right">1978347
</td>
<td>6.2
</td></tr>
<tr>
<td>16
</td>
<td>Licence to Kill
</td>
<td>1989
</td>
<td>John Glen
</td>
<td>Timothy Dalton
</td>
<td>Michael Kamen
</td>
<td>Gladys Knight
<p>Patti LaBelle
</p>
</td>
<td align="right">42000000
</td>
<td align="right">156200000
</td>
<td align="right">2110402
</td>
<td>6.2
</td></tr>
<tr>
<td>17
</td>
<td>GoldenEye
</td>
<td>1995
</td>
<td>Martin Campbell
</td>
<td>Pierce Brosnan
</td>
<td>Eric Serra
</td>
<td>Tina Turner
</td>
<td align="right">60000000
</td>
<td align="right">353400000
</td>
<td align="right">3493610
</td>
<td>6.6
</td></tr>
<tr>
<td>18
</td>
<td>Tomorrow Never Dies
</td>
<td>1997
</td>
<td>Roger Spottiswoode
</td>
<td>Pierce Brosnan
</td>
<td>David Arnold
</td>
<td>Sheryl Crow
</td>
<td align="right">110000000
</td>
<td align="right">346600000
</td>
<td align="right">3435210
</td>
<td>5.8
</td></tr>
<tr>
<td>19
</td>
<td>The World Is Not Enough
</td>
<td>1999
</td>
<td>Michael Apted
</td>
<td>Pierce Brosnan
</td>
   <td>David Arnold
</td>
<td>Garbage
</td>
<td align="right">135000000
</td>
<td align="right">390000000
</td>
<td align="right">3599609
</td>
<td>5.5
</td></tr>
<tr>
<td>20
</td>
<td>Die Another Day
</td>
<td>2002
</td>
<td>Lee Tamahori
</td>
<td>Pierce Brosnan
</td>
<td>David Arnold
</td>
<td>Madonna
</td>
<td align="right">142000000
</td>
<td align="right">456000000
</td>
<td align="right">4015654
</td>
<td>5.0
</td></tr>
<tr>
<td>21
</td>
<td>Casino Royale
</td>
<td>2006
</td>
<td>Martin Campbell
</td>
<td>Daniel Craig
</td>
<td>David Arnold
</td>
<td>Chris Cornell
</td>
<td align="right">140000000
</td>
<td align="right">594293106
</td>
<td align="right">3179519
</td>
<td>7.0
</td></tr>
<tr>
<td>22
</td>
<td>Quantum of Solace
</td>
<td>2008
</td>
<td>Marc Forster
</td>
<td>Daniel Craig
</td>
<td>David Arnold
</td>
<td>Alicia Keys
<p>Jack White
</p>
</td>
<td align="right">230000000
</td>
<td align="right">586090627
</td>
<td align="right">3715301
</td>
<td>5.4
</td></tr>
<tr>
<td>23
</td>
<td>Skyfall
</td>
<td>2012
</td>
<td>Sam Mendes
</td>
 <td>Daniel Craig
</td>
<td>Thomas Newman
</td>
    
<td>Adele
</td>
<td align="right">200000000
</td>
<td align="right">1108346855
</td>
<td align="right">7003902
</td>
<td>7.1
</td></tr>
<tr>
<td>24
</td>
<td>Spectre
</td>
<td>2015
</td>
<td>Sam Mendes
</td>
 <td>Daniel Craig
</td>
<td>Thomas Newman
</td>
<td>Sam Smith
</td>
<td align="right">245000000
</td>
<td align="right">880674175
</td>
<td align="right">4978710
</td>
<td>5.8
</td>
</tr>
<tr>
<td>25
</td>
<td>Bond 25
</td>
<td>2020
</td>
<td>Cary Joji Fukunaga
</td>
<td align="right">
</td>
<td align="right">
</td>
<td align="right">
</td>
<td align="right">
</td></tr></tbody></table></font>

<hr>

<a id="ref1"></a>
<center><h2>Tableaux - Lists</h2></center>

Les tableaux ou encore lists sont des conteneurs acceptant des valeurs de types hétérogènes pouvant être des lists.Dans une list, les valeurs sont indéxées en partant de 0. Elles sont écrites en utilisant des crochets [... , ..., ...]

In [1]:
L=[2012, "Daniel Craig" , 7.1]
L

[2012, 'Daniel Craig', 7.1]

Les index négatifs sont autorisés :

In [2]:
print(L[0],L[-3])
print(L[1], L[-2])
print(L[2], L[-1])

2012 2012
Daniel Craig Daniel Craig
7.1 7.1

#### Nesting:

In [23]:
L = [(2006,2018,2012,2015),"Daniel Craig", [7.0,5.4,7.1,5.8] ]

#### Slicing

In [4]:
L[1:3]

['Daniel Craig', [7.0, 5.4, 7.1, 5.8]]

#### L'ajout d'une valeur à une list se fait avec les méthodes `extend` ou `append` ou encore avec l'opérateur `+`

In [5]:
L = [(2006,2018,2012,2015)]
L.extend([('Casino Royale', 'Qauntum of Solace','Skyfall', 'Spectre')])
L.append('Daniel Craig')
L += [[7.0, 5.4, 7.1, 5.8]]
L

[(2006, 2018, 2012, 2015),
 ('Casino Royale', 'Qauntum of Solace', 'Skyfall', 'Spectre'),
 'Daniel Craig',
 [7.0, 5.4, 7.1, 5.8]]

Les lists sont mutables, les valeurs peuvent être modifiées (contrairement aux tuples)

In [6]:
L[3][3] = 6.2
L

[(2006, 2018, 2012, 2015),
 ('Casino Royale', 'Qauntum of Solace', 'Skyfall', 'Spectre'),
 'Daniel Craig',
 [7.0, 5.4, 7.1, 6.2]]

La méthode **del** permet de supprimer un élèment de la list : `del(L[i])`

**split** Conversion d'une chaine de caractère en list :

In [7]:
'Daniel Craig'.split()

['Daniel', 'Craig']

Par défaut le caractère `espace` est utilisé pour le découpage mais il est possible d'en spécifier un différent :

In [8]:
'D,a,n,i,e,l'.split(',')

['D', 'a', 'n', 'i', 'e', 'l']

**Egalité entre lists** :

In [9]:
L1 = L
L1

[(2006, 2018, 2012, 2015),
 ('Casino Royale', 'Qauntum of Solace', 'Skyfall', 'Spectre'),
 'Daniel Craig',
 [7.0, 5.4, 7.1, 6.2]]

Tout changement dans L ou dans L1 se répercute automatiquement dans l'autre list :

In [14]:
print('L1[3]:',L1[3])
L[3][1]= 5.2
print('L1[3]:',L1[3])

L1[3]: [7.0, 5.5, 7.1, 6.2]
L1[3]: [7.0, 5.2, 7.1, 6.2]

Pour créer un clone indépendant d'une list on utilise la méthode suivante :

In [11]:
L1=L[:]
L1

[(2006, 2018, 2012, 2015),
 ('Casino Royale', 'Qauntum of Solace', 'Skyfall', 'Spectre'),
 'Daniel Craig',
 [7.0, 5.8, 7.1, 6.2]]

Les deux lists sont alors indépendantes :

In [13]:
print('L1[3]:',L1[3])
L[3][1]= 5.5
print('L1[3]:',L1[3])

L1[3]: [7.0, 5.8, 7.1, 6.2]
L1[3]: [7.0, 5.5, 7.1, 6.2]

D'autre méthodes sont disponibles pour la manipulation des listes : insert(), remove(), index(), count(), ...
Voir la <a href="https://www.programiz.com/python-programming/methods/list/insert">documentation</a> puis expérimenter chacune des méthodes dans le notebook.

 <a id="ref2"></a>
<center><h2>Le petit Quiz</h2></center>

#### Créer une list 'maListe' , contenant les valeurs suivantes 42, “Bonjour”, [2,4,6 ] et True.

In [39]:
maListe = [42, "Bonjour", [2,4,6], True]
maListe

[42, 'Bonjour', [2, 4, 6], True]

 <div align="right">
<a href="#q1" class="btn btn-default" data-toggle="collapse">Solution</a>
</div>
<div id="q1" class="collapse">
```
maListe=[42, 'Bonjour', [2,4,6 ] , True]
maListe

```
</div>

####  Afficher la 3ème valeur de 'maListe'

In [22]:
maListe [2]

[2, 4, 6]

 <div align="right">
<a href="#q2" class="btn btn-default" data-toggle="collapse">Solution</a>
</div>
<div id="q2" class="collapse">
```
maListe[2]


```
</div>

####  Extraire les élèments de 'maListe' du 2ème jusqu'à la fin

In [34]:
maListe [1:]

('Bonjour', [2, 4, 6], True)

 <div align="right">
<a href="#q3" class="btn btn-default" data-toggle="collapse">Solution</a>
</div>
<div id="q3" class="collapse">
```
maListe[1:]

```

#### 4) Concatener ces dux listes :  maListe et saListe = [666, False]

In [40]:
saListe = [666,False] 
maListe.extend(saListe)
maListe

[42, 'Bonjour', [2, 4, 6], True, 666, False]

 <div align="right">
<a href="#q4" class="btn btn-default" data-toggle="collapse">Solution</a>
</div>
<div id="q4" class="collapse">
```
saListe = [666, False]
maListe + saListe
```

<hr>
Copyright &copy; 2020 Hatem & Driss @NEEDEMAND