<img src = "../images/logos.png" width = 600, align = "center">
<br>
<h1 align=center><font size = 5>Importer et Explorer</font></h1>

### 1. Importer les librairies nécessaires

In [1]:
import pandas as pd

###  2. Importer le jeu de données depuis le fichier chipotle.tsv sur le drive

### 3. Affecter les données à une variable de type DataFrame nommée data.

In [61]:
data = pd.read_csv('data/chipotle.tsv', sep='\t')

### 4. Afficher les 10 premières entrées.

In [134]:
data.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

###  5. Combien y a t-il d'observations dans le jeu de données ?

In [63]:
# Solution 1
data.shape[0]

4622

In [64]:
# Solution 2
len(data)

4622

### 6. Combien y a t-il de colonnes dans le jeu de données ?

In [65]:
data.shape[1]

5

### 7. Afficher les noms des colonnes

In [66]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 8. Comment le dataFrame est-il indexé ?

In [67]:
data.index

RangeIndex(start=0, stop=4622, step=1)

### 9. Quel est l'article le plus commandé?

In [68]:
data2=data.set_index('item_name')

In [69]:
data2.head()

,order_id,quantity,choice_description,item_price
item_name,,,,
Chips and Fresh Tomato Salsa,1,1,NaN,$2.39
Izze,1,1,[Clementine],$3.39
Nantucket Nectar,1,1,[Apple],$3.39
Chips and Tomatillo-Green Chili Salsa,1,1,NaN,$2.39
Chicken Bowl,2,2,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [123]:
quant={}
for name in data2.index :
    quant[name]=data2.loc[name].quantity.sum()

max_commande = sorted(quant.items(), key=lambda x: x[1], reverse=True)[0]
max_commande[0]

'Chicken Bowl'

*Avec groupby*

In [124]:
data_name = data.groupby('item_name').sum()
data_name= data_name.sort_values(['quantity'], ascending=False)
max_commande_1 = data_name.head(1)
max_commande_1

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

### 10. Combien ont été commandés?

In [125]:
max_commande[1]

761

*Avec groupby*

In [126]:
max_commande_1.quantity[0]

761

### 11. Quel a été l'article le plus commandé dans la colonne choice_description ?

In [145]:
data3 = data.dropna().set_index('choice_description')

In [146]:
data3.head()

,order_id,quantity,item_name,item_price
choice_description,,,,
[Clementine],1,1,Izze,3.39
[Apple],1,1,Nantucket Nectar,3.39
"[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]",2,2,Chicken Bowl,16.98
"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]",3,1,Chicken Bowl,10.98
"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",4,1,Steak Burrito,11.75

In [150]:
quant2={}
for name in data3.index :
    quant2[name]=data3.loc[name].quantity.sum()

max_commande = sorted(quant2.items(), key=lambda x: x[1], reverse=True)[0]
max_commande[0]

'[Diet Coke]'

###  12. Combien d'articles ont été commandés au total ?

In [151]:
max_commande[1]

159

###  13. Changer le type du prix en float

####  13.a. Afficher le type du prix

In [102]:
data.dtypes['item_price']
#data.item_price.dtype

dtype('O')

#### 13.b. Créer une fonction lambda et changer le type du prix

In [104]:
data.item_price = data.item_price.apply(lambda x: float(x[1:]))

####  13.c. Verifier le transtypage éffectué

In [105]:
data.dtypes['item_price']

dtype('float64')

###  14. Quel est le montant total de la recette pour la période ?

In [106]:
recette = (data['quantity']* data['item_price']).sum()
recette

39237.02

###  15. Combien de commandes ont été passées durant la période ?

In [107]:
commandes = data.order_id.value_counts().count()
commandes

1834

###  16. Combien d'arfticles différents ont été vendus?

In [108]:
data.item_name.value_counts().count()

50

<hr>
Copyright &copy; 2020 Hatem & Driss @NEEDEMAND