<img src = "../images/logos.png"  align = "center">
<br>
<h1 align=center><font size = 5>Alcool</font></h1>
<h2 align=center><font size = 5>Grouper</font></h2>

### 1. Importer les librairies nécessaires

In [1]:
import pandas as pd
import numpy as np

### 2. Importer le jeu de données drinks.csv

### 3. Stocker les données dans une variable drinks.

In [5]:
drinks = pd.read_csv('data/drinks.csv')
print(drinks.shape)
drinks.head()

(193, 6)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### 4. Dans quel la consommation moyenne de bière est-elle la plus élevée ?

In [18]:
beer_country_max = drinks.sort_values(['beer_servings' , 'country'], ascending = False)
beer_country_max #pour le pays qui consomme le plus
beer_continent_max = drinks.groupby('continent').mean().sort_values(by = 'beer_servings', ascending = False)
#obligé de faire un groupby car plusieurs fois les continents dans la liste
beer_continent_max.head(1)
# .idxmax récupère la valeur de l'index correspondant au maxi
#drinks.groupby('continent').beer_servings.mean().idxmax()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
EU,193.777778,132.555556,142.222222,8.617778

### 5. Afficher les statistiques relatives aux consommations de vin pour chaque continent.

In [31]:
stats_wine_continents = drinks.groupby('continent')[['wine_servings']].describe()
#on peut utiliser .wine_servings à la place des [[]]
stats_wine_continents

          wine_servings                                                   \
                  count        mean        std  min   25%    50%     75%
continent
AF                 53.0   16.264151  38.846419  0.0   1.0    2.0   13.00
AS                 44.0    9.068182  21.667034  0.0   0.0    1.0    8.00
EU                 45.0  142.222222  97.421738  0.0  59.0  128.0  195.00
OC                 16.0   35.625000  64.555790  0.0   1.0    8.5   23.25
SA                 12.0   62.416667  88.620189  1.0   3.0   12.0   98.50


             max
continent
AF         233.0
AS         123.0
EU         370.0
OC         212.0
SA         221.0

### 6. Afficher la consommation moyenne d'alcool (toutes boissons confondues) par continent.

In [39]:
moyenne_totalcool_continents = drinks.groupby('continent')[['beer_servings' , 'spirit_servings' , 'wine_servings']].mean()
# exemple sans prendre en compte l'alcool pur et donne les moyennes de tous les alcools individuellement par continents

totaux_alcools_sum  = drinks['beer_servings'] + drinks['spirit_servings'] + drinks['wine_servings']
#création de la colonne totaux
drinks['totaux_alcools_sum'] = totaux_alcools_sum
#ajout de la colonne dans le dataframe de départ
moyenne_totalcoolconfond_continents = drinks.groupby('continent')[['totaux_alcools_sum']].mean()
moyenne_totalcoolconfond_continents

           totaux_alcools_sum
continent
AF                  94.075472
AS                 106.954545
EU                 468.555556
OC                 183.750000
SA                 352.250000

### 7. Afficher la consommation médiane d'alcool par continent pour toutes les colonnes

In [40]:
conso_median_alcool = drinks.groupby('continent')[['beer_servings' , 'spirit_servings' , 'wine_servings', 'total_litres_of_pure_alcohol']].median()
conso_median_alcool

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### 8. Afficher les valeurs moyennes, min et max de la consommation de spiritueux (spirit).
#### Stocker le résulat dans un DataFrame (utiliser la fonction agg)

In [52]:
stats_spirit = drinks.groupby('continent').spirit_servings.agg(['mean', 'min' , 'max'])
print(stats_spirit)
#on fait ensuite le type pour vérifier que c'est bien un dataframe
type(stats_spirit)

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302

pandas.core.frame.DataFrame

<hr>
Copyright &copy; 2020 Hatem & Driss @NEEDEMAND