<img src = "../images/logos.png" align = "center">
<br>
<h1 align=center><font size = 5>Régiment</font></h1>
<h2 align=center><font size = 5>Grouper</font></h2>

### Introduction:

On reprend le jeu de données de la partie 1

### 1. Importer les librairies nécessaires

In [2]:
import numpy as np
import pandas as pd

### 2. Créer un dataFrame "Army" à partir du dictionnaire suivant en tenant compte des entêtes des colonnes :

In [3]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [4]:
army = pd.DataFrame(raw_data)
army2 = army.copy()
army2.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

### 3. Quel est la moyenne de "preTestScore" pour les "Nighthawks" ?

In [5]:
moy_pretest_nh = army2.groupby('regiment').preTestScore.mean()
moy_pretest_nh #affiche les moyennes preTestScore pour tous les régiments
moy_pretest_nh['Nighthawks'] #affiche seulement le résultat des Nighthawks

15.25

### 4. Afficher les statistiques générales pour chaque "compagny"

In [6]:
stats_company = army2.groupby('company').describe()
stats_company

        preTestScore                                                      \
               count       mean        std  min   25%   50%    75%   max
company
1st              6.0   6.666667   8.524475  2.0  3.00   3.5   4.00  24.0
2nd              6.0  15.500000  14.652645  2.0  2.25  13.5  29.25  31.0

        postTestScore
                count       mean        std   min    25%   50%   75%   max
company
1st               6.0  57.666667  27.485754  25.0  34.25  66.0  70.0  94.0
2nd               6.0  67.000000  14.057027  57.0  58.25  62.0  68.0  94.0

### 5. Quelle est la moyenne de "preTestScore" pour chaque "compagny" ?

In [7]:
moy_ptest_compagny = army2.groupby('company').preTestScore.mean()
moy_ptest_compagny

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### 6.Afficher les moyennes de "preTestScore" pour chaque "regiment" et "compagny"

In [8]:
moy_ptest_company_regiment = army2.groupby(['company' , 'regiment']).preTestScore.mean()
moy_ptest_company_regiment

company  regiment
1st      Dragoons       3.5
         Nighthawks    14.0
         Scouts         2.5
2nd      Dragoons      27.5
         Nighthawks    16.5
         Scouts         2.5
Name: preTestScore, dtype: float64

### 7. Afficher les moyennes de "preTestScore" grouppées par "regiment" et "compagny" sans index hierarchique.

In [9]:
#.unstack affiche tableau autrement que .xs le résultat et plus lisible
ex7 = army2.groupby(['company', 'regiment']).preTestScore.mean().unstack()
ex7

regiment  Dragoons  Nighthawks  Scouts
company
1st            3.5        14.0     2.5
2nd           27.5        16.5     2.5

### 8. Grouper le dataFrame par "regiment" et "compagny"

In [21]:
ex8 = army2.groupby(['company' , 'regiment']).sum()
ex8

                    preTestScore  postTestScore
company regiment
1st     Dragoons               7             95
        Nighthawks            28            119
        Scouts                 5            132
2nd     Dragoons              55            151
        Nighthawks            33            119
        Scouts                 5            132

### S9. Combien y a t-il d'observation pour chaque "regiment" et pour chaque "compagny"

### 10. Iterer sur un groupe et afficher le nom puis l'integralité des données d'un regiment.

<hr>
Copyright &copy; 2020 Hatem & Driss @NEEDEMAND